# DayZ SA
*.biprivatekey
user.cfg

.vscode/
.vs/

ServerProfile/PermissionsFramework/Roles/
ServerProfile/PermissionsFramework/Permissions/
ServerProfile/BattlEye/
ServerProfile/Users/
ServerProfile/*.RPT
ServerProfile/*.log
ServerProfile/*.ADM
ServerProfile/*.cfg
ServerProfile/*.mdmp