# DayZ SA
*.biprivatekey
user.cfg

.vscode/
.vs/

ServerProfile/CommunityOnlineTools/Logs/
ServerProfile/PermissionsFramework/Roles/
ServerProfile/PermissionsFramework/Permissions/
ServerProfile/BattlEye/
ServerProfile/Users/
ServerProfile/DataCache/
ServerProfile/*.RPT
ServerProfile/*.log
ServerProfile/*.ADM
ServerProfile/*.cfg
ServerProfile/*.mdmp