/dz-project-manager.exe
/.logs
/graphify-out
/ai

.vscode/
.vs/

.claude/*
!.claude/skills/
!.claude/skills/**
.vscode/
.vs/
.logs/

.dz-project-manager/local.toml
.dz-project-manager/steam_workshop.json
.dz-project-manager/.steam-workshop-last-online-refresh

